.timerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .timerButton {
    background-color: #f1f1f1;
    color: #aaa;
    padding: .5rem 0px;
    width: 5rem;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border: 2px solid transparent;
  }
  .timerButton.selected{
    background-color: #f44336;
    color: #ffffff;
  }
  .timerButton:hover{
    border:2px solid #f44336;
    color: black;
  }
  .timerOption {
    text-align: center;
    background-color: #f1f1f1;
    color: #aaa;
    padding: .5rem 0px;
    width: 5rem;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease;
  }
  
  .timerOption:hover {
    border: 2px solid #4CAF50;
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
  
  .selected {
    background-color: white;
    color: white;
    font-weight: 700;
    background-color: #4CAF50;
  }
  
  .off {
    background-color: #f44336;
    color: white;
  }
  
  .offSelected {
    background-color: #f1f1f1;
    color: #aaa;
  }
  