.container{
  height: 100vh;
  background: #EDEDED;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  align-items: center;
  overflow-y: scroll;
}

.header{
  width: 100%;
  max-width: 1400px;
}
.button{
  background-color: inherit;
  border-radius: .4rem;
  border: none;
  padding: 1rem 4rem;
  cursor: pointer;
  border: 2px solid transparent;
}
.button:hover{
  border: 2px solid rgb(255, 255, 255);
}