.container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  }

.logo {
  width:80%;
  height: 100px;
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  
}

.link{
  display: flex;
  gap: 1rem;
  
}

.linkContainer{
  display: flex;
  flex-direction: column;
  width: 85%;
}

.links{
  display: flex;
  flex-direction: column;
  text-align: left;
}
.links > * {
  opacity: 0.6;
  border: 2px solid transparent;
  
}
.links .active{
  box-shadow: 0px 0px 20px 0px #3e3e413d;
  border: 2px solid white;
  border-radius: .6rem;
}
.links > *:hover,
.active {
  background-color: #00000010;
  opacity: 1;
}
.links > *:hover{
  border-radius: .4rem;
}

.links > *,
.logout {
  display: flex;
  justify-content: center;
  align-items: right;
  gap: 1rem;
  padding: 1rem 2rem;
}

.logout {
  color: rgb(0, 0, 0);
  cursor: pointer;
  margin-bottom: 2.5rem;
  width: 80%;
  border-top: 2px solid black;
  border-bottom: 2px solid transparent;
}

.logout:hover{
  border:2px solid #000;
  border-radius: .4rem;
  background-color: #00000010;
}

