.container {
  display: flex;
  flex-direction: column;
}
.wrapper{
  display: flex;
  gap: 1rem;
  justify-content: left;
  align-items: center;
}
.name{
  width: 170px;
  text-align: right;
  margin-right: .5rem;
}

.input {
  display: flex;
  align-items: center;
  border: none;
  min-width: 400px;
  box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.2);
  padding: 0.5rem;
  border-radius: 1rem 1rem .2rem .2rem;
  
}

.input input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  flex: 1;
}

.input input.errorPlaceholder::placeholder {
  color: red;
}

.input input:focus {
  outline: none;
}

.icon {
  display: flex;
  color: #828282;
}

.container p {
  margin-top: 0.25rem;
}
.errorBorder {
  box-shadow: 0px 0px 4px red;
}